body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #111;
}

.logo {
    color: white;
}

.nav-links a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ff6b81;
}