body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #111;
}

.logo {
    color: white;
}

.nav-links a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ff6b81;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f5f5f5;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    color: gray;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6b81;
    color: white;
    border: none;
    border-radius: 5px;
}

.about {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: 50px auto;
}

.about img {
    width: 200px;
    border-radius: 10px;
}